   .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    min-height: 100vh;
  }
  
  .brand-name {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: white;
  }
  
  .menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 75vh;
    transition: all 0.2s ease-in-out; /* Smooth dropdown transition */
  }
  
  .menu-content.open {
    display: flex;
  }
  
  .menu-button,
  .question-button { 
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  .menu-button:hover,
  .question-button:hover { 
    background-color: #ddd;
  }
  
  .search-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .search-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .notification-box {
    width: 90%;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .question-button { 
    position: absolute;
    bottom: 20px;
    right: 20px;
  }